{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="py-5 text-center mt-5">
    <h1>Site d'article du groupe B</h1>

    <p class="lead">Ici vous pouvez voir nos article les plus recement crée. </p>

    {% for actualite in actualites %}
        <div>
            <h4>{{ actualite.titre }}</h4>
        </div>
        <div class="col2 container-md">
            <div class="py-2 text-center mt-2">
                <div class="card-body">
                    <p>{{ actualite.contenu }}</p>
                    <a href="/actualite/{{ actualite.id }}" class="btn btn-primary">Voir l'actualité</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
