{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="py-5 text-center mt-5">
    <h1>Site d'article du groupe B</h1>

    <p class="lead">Ici vous pouvez voir nos articles les plus récement crées. </p>

    <div class="container">
        
        {% for actualite in actualites|batch(3) %}
            <div class="row">
                {% for triplet in actualite %}
                    <div class="col-md-4">
                        <div>
                            <h3>{{ triplet.titre }}</h3>
                        </div>
                        <div class="container-md">
                            <div class="py-2 text-center mt-2">
                                <div class="card-body">
                                    <p>{{ triplet.contenu }}</p>
                                    <a href="/actualite/{{ triplet.id }}" class="btn btn-primary">Voir l'actualité</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>


{% endblock %}


