<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <p class="navbar-brand">Groupe B</p>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/register">Inscription</a>
                            </li>
                            {# unitile de la garder apres avoir modifer le boutton se connecter/se deconnecter qui s'occupe de tout mtn  #}
                            {# <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Connexion</a>
                            </li> #}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/actualite">Actualiter</a>
                            </li>
                            <li class="nav-item">
                                {# <a class="nav-link active" aria-current="page" href="/logout">Se déconnecter</a> #}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="/logout" id="logout-button">Se déconnecter</a>
                                {% else %}
                                    <a href="/login" id="login-button">Se connecter</a>
                                {% endif %}
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
